img {
    object-fit: cover;
    width: 400px;
    height: 200px;
}

header {
    height: 200px;
    overflow: hidden;
}

.colonna {
    float: left;
    width: 25%;
    height: 20px;
    background-color: aquamarine;
}

main::after {
    content: '';
    display: table;
    clear: both;
}

.colonna:nth-child(2), 
.colonna:nth-child(3) {
    margin: 0 5px;
}  

.colonna:first-child {
    width: calc(25% - 10px);
}

.colonna:last-child {
    width: calc(25% - 10px);
}